# Database
db.sqlite3

# Python bytecode
__pycache__/
*.pyc

# Test artifacts
.coverage
.coverage *
htmlcov/
.pytest_cache/

# Media & static files
media/
static/

# macOS
.DS_Store

# Virtual environment
env/
venv/
.venv/

# VS Code settings
.vscode/

# Other
*.log
.env
api_video_<int:movie_id>_<str:resolution>_<str:segment>_.png
api_video_<int:movie_id>_<str:resolution>_index.m3u8.png
api_video.png
Videoflix Checkliste.pdf